.gameContainer {
  position: absolute;
  margin:0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.roomContainer {
  background-image: url("./Pieces/img/back.jpg");
  position: absolute;
  margin: 0;
}
