/*

CAD2C5
84A98C
52796F
354F52
2F3E46

*/

.menuContainer {
  background-color:#CAD2C5;
  position: absolute;
  text-align: center;
  width: 90vw;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuIcon {
  content: url('icon.png');
  height: 20vh;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
}

.mainMenu {
  width:100%;
}

#roomId {
    letter-spacing: 4px;
}

.menuItem, .selectedMenuItem, .menuButton{
  display: inline-block;
  border: 1px solid #84A98C;
  background-color: #CAD2C5;
  color: #52796F;
  cursor: pointer;
  font-size: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 15px;
  vertical-align: middle;
}

.menuItem:hover, .selectedMenuItem, .menuButton:hover {
  transition: background-color 1.5s;
  -webkit-transition: background-color 1.5s;
  background-color: #52796F;
  color: #CAD2C5;
  cursor: pointer;
}

.subMenuRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.randomButton {
  vertical-align: middle;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-left: 1%;
  opacity: 0.4;
}

.randomButton:hover {
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  opacity: 1;
}

input[type=text] {
  vertical-align: middle;
  text-align: center;
  color: #52796F;
  opacity: 0.3;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vh;
  padding-left: 2vh;
  border-radius: 12px;
  font-size: 3vh;
  width:150px;
}

input[type=text]:focus {
  outline: 0;
  transition: width 0.4s ease-in-out, opacity 0.4s;
  width: 120px;
  opacity:0.8;
}

.goodInput {
  border-color: green;
}

.badInput { border-color: red; }
