/*

CAD2C5
84A98C
52796F
354F52
2F3E46

*/

.playerContainer {
  margin: 0;
  padding: 0;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

.mediaButtonContainer {
  position: absolute;
  z-index: 1;
}

.mediaButtons {
  max-height: 30px;
  max-width: 30px;
  height: auto;
  width:auto;
  cursor: pointer;
  opacity: 0.2;
  margin-left: 5px;
}

.arrowButton {
  max-height: 20px;
  border: 1px solid #354F52;
  opacity: 0.2;
  cursor: pointer;
}

.mediaButtons:hover, .arrowButton:hover {
  transition: opacity 1.0s;
  -webkit-transition: opacity 1.0s;
  opacity: 1;
}

.mediaButtonRow {
  display: flex;
  align-items: center;
  margin-top:20%;
}

.popoutSelect {
  position: absolute;
  right: 100%;
}

.webcamContainer {
  position: absolute;
  margin: 0;
  border-radius: 10%;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.audioVisualizer {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}
