.playerContainer {
  position: absolute;
  text-align: center;
  margin:0;
}

.controlContainer {
  position: absolute;
  height: 100%;
  top: 38%;
  left:4%
}

.controlButton {
  cursor: pointer;
  opacity: 0.3
}

.controlButton:hover {
  opacity: 1;
}

.cameraCropper {
  border: 1px solid;
  border-radius: 75px;
  overflow: hidden;
}

.audioPlot {
  position: absolute;
  opacity: 0.5;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 10;
  bottom: -23%;
}
