/*

CAD2C5
84A98C
52796F
354F52
2F3E46

*/

*::selection {
  background: transparent;
}

.controllerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  display: block;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.mediaButtonRow {
  position: relative;
  top: 20%;
  height: 20%;
  width: 20%;
  text-align: center;
}

.mediaButton, .videoDevices, .audioDevices {
  cursor: pointer;
  opacity: 0.5;
}

.mediaButton:hover, .videoDevices:hover, .audioDevices:hover{
  transition: opacity 1.0s;
  -webkit-transition: opacity 1.0s;
  opacity: 1;
}


#audioSwitch {
  height:80%;
}

#videoSwitch {
  width: 70%;
}

#shareButton {
  width: 70%;
}

.deviceList {
  position: absolute;
  top: 0%;
  left: 20%;
}

.videoDevices, .audioDevices {
  padding: 3%;
  margin: 3%;
  font-size: 2vh;
  text-align: center;
  background-color: #2F3E46;
  border-radius: 5px;
  border: 1px #CAD2C5;
  color: white;
}
