/*

CAD2C5
84A98C
52796F
354F52
2F3E46

*/

.localPlayerContainer {
  margin: 0;
  padding: 0;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

.remotePlayerContainer {

}

.mediaButtons:hover, .arrowButton:hover {
  transition: opacity 1.0s;
  -webkit-transition: opacity 1.0s;
  opacity: 1;
}

.webcamContainer {
  position: relative;
  margin: 0;
  border-radius: 10%;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.audioVisualizer {
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
}
