div {
  margin: 10px;
}

.mainMenu {
  display: flex;
  padding-top: 25%;
  justify-content: center;
}

.subMenu {
  justify-content: center;
  display: flex;
}

.hoveredMenuItem {
  color: white;
  background-color: lightblue;
}

.normalMenuItem {
  color: black;
}

input {
  border: 2px solid #b3b3b3;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  height: 30px;
  width: 200px;
}

input:focus {
  outline-width: 0;
}
